.container {
    width: 70%;
    margin: auto;
    text-align: center;
}
p {
    text-align: left;
}

button.accordion {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
 
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}