body {
    padding: 0;
}
.cards {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 0;

}
.cards1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    height: 300px;
    padding: 0 15px;
}

.card {
    width: 90px;
    height: 30px;
    background-color: pink;
}

.card1 {
    background-color: pink;
    height: 100%;
    width: 100%;
}

@media only screen
  and (max-device-width: 768px)  
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
        margin: 0;
        padding: 15px;
    }
    
    .cards {
        margin-bottom: 15px;
    }
    
    .card {
        width: 300px;
        height: 30px;
        background-color: pink;
    }
    
    .cards1 {
        display: block;
        height: 300px;
    }
    
    .card1 {
        background-color: pink;
        margin-bottom: 30px;
        height: 100%;
        width: 100%;
    }
  }