body {
    margin: 0;
    padding: 15px 15px 0 15px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.middle-card {
    width: 100%;
}

.middle-card .card {
    margin: 0 15px;
}

.card {
    height: 30px;
    width: 90px;
    background-color: pink;
}

.card2 {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    background-color: pink;
}

@media only screen
  and (max-device-width: 768px)  {
    .card {
        height: 30px;
        width: 300px;
    }

    .middle-card {
        width: 300px;
        height: 30px;
    }

    .middle-card .card {
        margin: 0px;
    }


  }