.header {
    text-align: center;
    width: 100%;
    height: 30px;
}

.body {
    display: flex;
    justify-content: space-between;
}

.body-right {
    background-color: blue;
}

.picture {
    display: inline-block;
    width: 250px;
    height: 200px;
    padding-left: 16px;
    padding-right: 5px;
    margin-bottom: 20px;
}


img {
    width: 250px;
    height: 200px;
}


.body-left {
    display: inline-block;
    width: 550px;
    height:420px;
    margin-left: 10px;
}

.body-right {
    display: inline-block;
    text-align: center;
    width: 400px;
    height:1200px;
    margin-right: 20px;
}


@media only screen
  and (max-device-width: 768px)  
  and (-webkit-min-device-pixel-ratio: 1) {
    .header {
        text-align: center;
        width: 100%;
        height: 30px;
    }

    .body {
        display: block;
        margin-bottom: 30px;
    }

    .body-left {
        display: inline-block;
        text-align: center;
        width: 950px;
        height:520px;
        margin-left: 10px;
    }
    
    .body-right {
        display: inline-block;
        text-align: center;
        width: 950px;
        height:1200px;
        margin-right: 20px;
    }

    .picture {
        display: inline-block;
        width: 300px;
        height: 200px;
        padding-left: 36px;
        padding-right: 5px;
        margin-bottom: 60px;
    }
    img {
        width: 260px;
        height: 220px;
    }
 
}