.header {
    text-align: center;
    width: 100%;
    height: 50px;
}

.sidebar {
    width: 20%;
}

.picture {
    display: inline-block;
    margin: 0px 40px 30px 0px;
    width: 200px;
    height: 200px;
    /* padding-left: 6px;
    padding-right: 6px;
    padding-top: 20px; */
}

table {
    width: 100%;
}

img {
    width: 200px;
    height: 200px;
}

@media only screen
  and (max-device-width: 768px)  
  and (-webkit-min-device-pixel-ratio: 1) {
    .header {
        text-align: center;
        width: 100%;
        height: 50px;
    }

    .sidebar {
        width: 3%;
    }

    .picture {
        display: block;
        width: 910px;
        height: 400px;
        margin-bottom: 30px;
    }
    img {
        width: 952px;
        height: 400px;
    }
 
}